html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 137.5%;
  line-height: 1.5em;
}

p, img, iframe {
  margin-bottom: 33px;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  background: rgba(255, 165, 0, 0.5);
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 69px;
  font-size: 3.157rem;
  line-height: 99px;
  line-height: 4.5rem;
}

h2 {
  font-size: 52px;
  font-size: 2.369rem;
  line-height: 66px;
  line-height: 3rem;
}

h3 {
  font-size: 39px;
  font-size: 1.777rem;
  line-height: 66px;
  line-height: 3rem;
}

h4 {
  font-size: 29px;
  font-size: 1.333rem;
  line-height: 66px;
  line-height: 3rem;
}

h5 {
  font-size: 22px;
  font-size: 1rem;
  line-height: 33px;
  line-height: 1.5rem;
}

h6 {
  font-size: 17px;
  font-size: 0.75rem;
  line-height: 33px;
  line-height: 1.5rem;
}

p {
  background: rgba(0, 128, 0, 0.5);
}

body {
  font-family: "Museo Slab", sans-serif;
}

.wrapper {
  margin: auto;
  max-width: 960px;
  background: rgba(232, 110, 164, 0.5);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -moz-background-size: 100% 1.5rem;
  -o-background-size: 100% 1.5rem;
  -webkit-background-size: 100% 1.5rem;
  background-size: 100% 1.5rem;
  background-position: left top;
  margin-top: 66px;
  margin-top: 3rem;
  margin-bottom: 66px;
  margin-bottom: 3rem;
}
