@import "compass/typography";
@import "compass/css3";

$base-font-size: 22px !global;
$base-line-height: 33px !global;
$rhythm-unit: "rem" !global;
$rem-with-px-fallback: true !global;

@include establish-baseline;

p,img,iframe {
    @include margin-trailer;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    background: rgba(orange, .5);
}

img {
    display: block;
    max-width: 100%;
};

h1 { @include adjust-font-size-to(3.157rem); }
h2 { @include adjust-font-size-to(2.369rem); }
h3 { @include adjust-font-size-to(1.777rem); }
h4 { @include adjust-font-size-to(1.333rem); }
h5 { @include adjust-font-size-to(1rem); }
h6 { @include adjust-font-size-to(0.75rem); }

p {
    background: rgba(green, .5);
}